//box-shadow
@mixin box-shadow($Horizontal, $Vertical, $Blur, $Spread, $Color) {
    box-shadow: $Horizontal $Vertical $Blur $Spread $Color;
    -webkit-box-shadow: $Horizontal $Vertical $Blur $Spread $Color;
    -moz-box-shadow: $Horizontal $Vertical $Blur $Spread $Color;
}

@mixin rotate($deg) {
    -ms-transform: rotate($deg);
    /* IE 9 */
    -webkit-transform: rotate($deg);
    /* Safari 3-8 */
    transform: rotate($deg);
}

//transition
@mixin transition($property, $duration, $easing: linear) {
    transition: $property $duration $easing;
    -webkit-transition: $property $duration $easing;
    -moz-transition: $property $duration $easing;
}

//border-radius
@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}

@mixin border-radius-full($topLeft, $topRight, $bottomLeft, $bottomRight) {
    -webkit-border-top-left-radius: $topLeft;
    -webkit-border-top-right-radius: $topRight;
    -webkit-border-bottom-left-radius: $bottomLeft;
    -webkit-border-bottom-right-radius: $bottomRight;
    -moz-border-radius-topleft: $topLeft;
    -moz-border-radius-topright: $topRight;
    -moz-border-radius-bottomleft: $bottomLeft;
    -moz-border-radius-bottomright: $bottomRight;
    border-top-left-radius: $topLeft;
    border-top-right-radius: $topRight;
    border-bottom-left-radius: $bottomLeft;
    border-bottom-right-radius: $bottomRight;
}


/*asif*/

@mixin opacity($value) {
    $IEValue: $value*100;
    opacity: $value;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
    filter: alpha(opacity=$IEValue);
}


/*asif end*/

//input-placeholder 
@mixin inputPlaceholder($color) {
     ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $color;
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        color: $color;
    }
     :-ms-input-placeholder {
        /* IE 10+ */
        color: $color;
    }
     :-moz-placeholder {
        /* Firefox 18- */
        color: $color;
    }
}

@mixin media($point) {
    @if $point==mobile {
        @media (max-width: 1024px) {
            @content;
        }
    }
    @else if $point==smallScreen {
        @media (max-width: 768px) {
            @content;
        }
    }
    @else if $point==smallMobile {
        @media (max-width: 500px) {
            @content;
        }
    }
    @else if $point==only-tab {
        @media (max-width: 1024px) and (min-width: 768px) {
            @content;
        }
    }
}