@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
$clr-red:#101358;
$clr-green:#91a603;
$clr-white:#ffffff;
$clr-black:#000000;
$font-regular:400;
$font-bold:700;
$fnt1:'Open Sans';

/* breakpoints */

$mobile-breakpoint: 767px;
$ipad-breakpoint: 1023px;