@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?belnbq');
    src: url('../fonts/icomoon.eot?belnbq#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?belnbq') format('truetype'), url('../fonts/icomoon.woff?belnbq') format('woff'), url('../fonts/icomoon.svg?belnbq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
    content: "\e900";
}

.icon-tray:before {
    content: "\e913";
}

.icon-pie-chart:before {
    content: "\e912";
}

.icon-pdf:before {
    content: "\e910";
}

.icon-xlsx:before {
    content: "\e911";
}

.icon-key:before {
    content: "\e90e";
}

.icon-table:before {
    content: "\e90d";
}

.icon-logout:before {
    content: "\e90f";
}

.icon-star-fill:before {
    content: "\e90b";
}

.icon-star:before {
    content: "\e90c";
}

.icon-Close:before {
    content: "\e901";
}

.icon-Configuration:before {
    content: "\e902";
}

.icon-Dropdown:before {
    content: "\e903";
}

.icon-Login:before {
    content: "\e904";
}

.icon-My_Booking:before {
    content: "\e905";
}

.icon-Profile:before {
    content: "\e906";
}

.icon-Reservation:before {
    content: "\e907";
}

.icon-Waiting_list:before {
    content: "\e908";
}

.icon-a_Close .path1:before {
    content: "\e909";
    color: rgb(1, 1, 1);
}

.icon-a_Close .path2:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}