.twitter-typeahead {
    width: 100%;
}

.typeahead {
    background-color: #FFFFFF;
}

.tt-hint {
    color: #999999;
}

.tt-menu {
    background-color: #FFFFFF;
    border: 2px solid #f0f0f0;
    width: 100%;
    border-top: 0;
    margin-top: -5px;
}

.tt-suggestion {
    padding: 6px;
}

.tt-suggestion:hover {
    cursor: pointer;
    background-color: #0097CF;
    color: #FFFFFF;
}

.tt-suggestion p {
    margin: 0;
}