    body {
        font-family: $fnt1;
        font-size: 14px;
    }
    
    a {
        transition: 0.2s;
        transition: all 0.2s ease;
        &:hover,
        &:focus {
            text-decoration: none;
            color: $clr-red;
        }
    }
    
    img {
        max-width: 100%;
    }
    
    video {
        width: 100%;
        display: block;
    }
    
    label {
        font-weight: normal;
    }
    
    .cm-heading {
        color: $clr-white;
        font-size: 18px;
        font-weight: $font-bold;
        margin: 0;
        position: relative;
        .go-back {
            position: absolute;
            left: 0;
            color: #fff;
        }
    }
    
    .cm-tbl {
        // display: table;
        width: 100%;
        //height: 100%;
        // .cm-tbl-cell {
        //     display: table-cell;
        //     vertical-align: middle;
        // }
    }
    
    .cm-red {
        color: $clr-red;
    }
    
    .cm-dot {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    
    .cm-green {
        color: #91a600;
    }
    
    .form-control,
    .select2-container--default .select2-selection--multiple,
    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: none;
        border-radius: initial;
        box-shadow: none;
        border-bottom: solid 1px #b6aefb;
        padding: 10px 0px;
        height: auto;
        font-size: 16px;
        color: $clr-black;
        // margin-bottom: 5px;
        background: transparent;
        -moz-appearance: none;
        -webkit-appearance: none;
        &:focus {
            box-shadow: none;
            border-color: $clr-red;
        }
        &.small {
            font-size: 16px;
        }
    }
    
    .select2-container--default .select2-selection--multiple,
    .select2-container--default.select2-container--focus .select2-selection--multiple {
        height: 46px;
    }
    
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: $clr-red;
        color: $clr-white;
        border: none;
    }
    
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove,
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
        color: $clr-white;
    }
    
    .select-parent {
        position: relative;
        &:before {
            content: "\e903";
            font-family: 'icomoon';
            position: absolute;
            right: 5px;
            top: 50%;
            margin-top: -20px;
            font-size: 20px;
            color: #000;
        }
    }
    
    // select.form-control {
    //     option {
    //         color: red;
    //         &:first-child {
    //             color: red;
    //         }
    //     }
    // }
    .cm-btn {
        min-height: 35px;
        color: $clr-red;
        border: solid 1px $clr-red;
        @include border-radius(4px);
        text-align: center;
        //padding: 10px;
        padding: 6px 12px;
        min-width: 100px;
        text-transform: uppercase;
        background-color: initial;
        display: inline-block;
        @include transition(all, 0.3s, linear);
        &:hover {
            background-color: $clr-red;
            color: $clr-white;
        }
        &.btn-red {
            background-color: $clr-red;
            color: $clr-white;
        }
    }
    
    .cm-big-text {
        font-size: 16px;
        margin-bottom: 30px;
    }
    
    .cm-bold {
        font-weight: 600;
    }
    
    .cm-disabled {
        pointer-events: none;
        cursor: default;
        @include opacity(0.5);
        label {
            background-color: #e7e6e6;
        }
    }
    
    .cm-bottom-30 {
        margin-bottom: 30px;
    }
    
    .cm-large-bottom {
        margin-bottom: 60px;
    }
    
    .big-login {
        font-size: 70px;
    }
    
    .cm-upper-text {
        text-transform: uppercase;
    }
    
    .cm-scroll {
        overflow: auto;
    }
    
    .cm-gray-sec {
        background-color: #f7f7f7;
        padding: 30px 30px;
    }
    
    .editable {
        border: none;
        width: 48px;
        text-align: center;
        border-bottom: solid 1px transparent;
        background: transparent;
        &:focus {
            outline: none;
            border-color: #fdc9c9;
        }
        &.onClick {
            &:focus {
                border: transparent
            }
        }
    }
    
    .not-active {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        opacity: 0.5;
    }
    
    .editOn {
        .onClick {
            border-color: #fdc9c9;
        }
    }
    
    .cm-shadow {
        box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.12);
    }
    
    .modal {
        background-color: #ffffffc7;
        .modal-content {
            border: none;
            border-radius: initial;
            min-height: 160px;
        }
    }
    
    .circle-close {
        background: #c4c4c4;
        padding: 5px;
        font-size: 10px;
        border-radius: 50%;
        display: block;
        color: $clr-white;
    }
    
    .no-days {
        display: inline-block;
        margin-right: 10px;
    }
    
    // akshada scss //
    .txt-bx {
        display: inline-block;
    }
    
    .parent-calender {
        .mod-select-calender {
            margin-bottom: 0;
        }
    }
    
    .plus-bx {
        width: 30px;
        height: 30px;
        background: #f2f2f2;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        padding: 2px 5px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        line-height: 100%;
        font-size: 25px;
        background-color: #cccccc;
        margin-left: 10px;
        &:hover,
        &:focus {
            background-color: $clr-red;
        }
        a {
            color: #fff;
        }
    }
    
    .sel-date {
        .datepicker {
            border: none;
            border-radius: 0;
            box-shadow: none;
            border-bottom: solid 1px #fdc9c9;
            margin-left: 10px;
            &:focus {
                outline: none;
            }
        }
    }
    
    .lbl-bx {
        margin-bottom: 25px;
        label {
            font-size: 12px;
        }
    }
    
    .time-bx {
        overflow: hidden;
        margin-left: 15%;
    }
    
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    
    [type="radio"]:checked+label,
    [type="radio"]:not(:checked)+label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #666;
    }
    
    [type="radio"]:checked+label:before,
    [type="radio"]:not(:checked)+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
    }
    
    [type="radio"]:checked+label:after,
    [type="radio"]:not(:checked)+label:after {
        content: '';
        width: 10px;
        height: 10px;
        background: $clr-red;
        position: absolute;
        top: 5px;
        left: 5px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    
    [type="radio"]:not(:checked)+label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    
    [type="radio"]:checked+label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    .cm-font14 {
        font-size: 14px;
    }
    
    .padding30 {
        padding: 30px;
    }
    
    .form-container {
        max-width: 640px;
        margin: 0 auto;
    }
    
    #page-content-wrapper {
        padding-top: 103px;
        background: #f5f5f5;
    }
    
    @media screen and (max-width:$mobile-breakpoint) {
        .form-control {
            font-size: 16px;
        }
        .cm-big-text {
            font-size: 18px;
        }
        .cm-heading {
            font-size: 20px;
        }
        .no-days {
            margin: 0 0 10px 0;
        }
        .time-bx {
            overflow: visible;
            margin-left: 9%;
            .form-control {
                margin: 0;
                width: 42px;
            }
        }
    }