.modal-content {
    position: relative;
    .close {
        position: absolute;
        top: 3px;
        right: 10px;
        z-index: 11;
        font-size: 30px;
    }
}

#addcalendar {
    .ctm-left {
        text-align: left;
        margin-top: 30px;
    }
    .mod-btn-group {
        .cm-btn {
            margin: 0;
        }
    }
}

@media (min-width: 768px) {
    .add-date-pop {
        .modal-dialog {
            width: 640px;
        }
    }
    .cm-pop {
        .modal-dialog {
            width: 768px;
        }
    }
    #addcalendar {
        .small-popup {
            width: 400px;
        }
    }
}

@media screen and (max-width:768px) {
    .bs-modal {}
}