.bs-red-strip {
    background-color: $clr-red;
    padding: 10px 5px;
    .cm-heading {
        text-align: center;
    }
}

@media screen and (max-width:$mobile-breakpoint) {
    .bs-red-strip {
        padding: 10px 10px;
    }
}