.bs-header {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 999;
    top: 0;
    padding-top: 14px;
    padding-bottom: 12px;
    //min-height: 90px;
    // background: $clr-black;
    //@include box-shadow(0px, 7px, 16px, 0px, #fcf6f7);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.13);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.13);
    background-color: white;
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 15px;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus {
        background: none;
        color: $clr-white;
    }
    .navbar-default {
        background: none;
        border: none;
        border-radius: initial;
        margin-bottom: 0;
        overflow: hidden;
        .navbar-toggle {
            border-color: $clr-red;
            &:hover,
            &:focus {
                background: none;
            }
            .icon-bar {
                background: $clr-white;
            }
        }
    }
    .navbar-header {
        float: left;
    }
    .navbar-brand {
        height: auto;
        padding: 0;
        margin-top: 0;
    }
    .navbar-nav {
        float: right;
        li {
            text-align: center;
            position: relative;
            a {
                font-size: 14px;
                padding: 0 20px;
                color: $clr-white;
                &:hover {
                    color: $clr-white;
                }
                i {
                    font-size: 22px;
                    color: #fff;
                    background: transparent;
                    display: inline;
                }
                span {
                    display: block;
                    // margin-top: 8px;
                }
                // text-transform: uppercase;
                &.dropdown-toggle {
                    span {
                        display: inline;
                        float: right;
                    }
                }
            }
            &:before {
                content: '';
                display: inline-block;
                width: 1px;
                height: 40px;
                background-color: #f4dadc5e;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .profilePic {
        float: right;
        >img {
            width: 50px;
            height: 50px;
            @include border-radius(50%);
        }
    }
    .navbar-collapse {
        padding-right: 65px;
    }
    .icon-Profile {
        font-size: 30px;
        height: 50px;
        width: 50px;
        display: inline-block;
        background: #E3E3E3;
        @include border-radius(50%);
        text-align: center;
        padding-top: 10px;
        color: $clr-black;
    }
    .select-lang {
        // width: 120px;
        float: right;
        margin-right: 15px;
        select,
        .form-control {
            margin: 0;
            min-width: 135px;
            font-size: 14px;
            padding-right: 27px;
            border-color: #f4dadc5e;
            .customSelectInner {
                color: white;
                width: auto!important;
            }
        }
        .select-parent {
            &:before {
                color: white;
                margin-top: -14px;
                font-size: 16px;
            }
        }
    }
    .rest-name {
        position: absolute;
        width: 300px;
        top: 50%;
        left: 50%;
        color: #fff;
        font-size: 18px;
        margin-left: -150px;
        margin-top: -13px;
        text-align: center;
    }
}

@media screen and (max-width:$ipad-breakpoint) {
    .bs-header {
        .navbar-nav {
            li {
                a {
                    padding: 0 15px;
                }
            }
        }
        .navbar-brand {
            img {
                width: 70px;
                margin: 6px 0;
            }
        }
    }
}

@media screen and (max-width:1279px) {
    .bs-header {
        // padding-bottom: 0;
        // padding-top: 10px;
        // .navbar-collapse {
        //     padding-right: 15px;
        //     border-color: #f4dadc5e;
        // }
        // .navbar-nav {
        //     float: none;
        //     margin-bottom: 0;
        //     margin-top: 0;
        //     li {
        //         // width: 50%;
        //         // float: left;
        //         float: none;
        //         &:before {
        //             display: none;
        //         }
        //         a {
        //             padding: 12px 10px;
        //             border-bottom: solid 1px #f4dadc5e;
        //             i {
        //                 display: none;
        //             }
        //             span {
        //                 margin-top: 0;
        //             }
        //         }
        //     }
        // }
        // .navbar-header {
        //     padding-right: 60px;
        //     margin-bottom: 5px;
        //     padding-left: 15px;
        // }
        .navbar-default {
            position: relative;
            .profileSec {
                position: absolute;
                top: 0;
                right: 12px;
            }
        }
        .rest-name {
            display: none;
        }
    }
    // .navbar-header {
    //     float: none;
    // }
    // .navbar-toggle {
    //     display: block;
    // }
    // .navbar-collapse.collapse {
    //     display: none !important;
    // }
    // .navbar-collapse.collapse.in {
    //     display: block !important;
    // }
}