.bs-legends {
    text-align: center;
    margin-bottom: 30px;
    .lagend {
        display: inline-block;
        margin-left: 25px;
        color: #333;
        &:before {
            content: '';
            display: inline-block;
            width: 18px;
            height: 18px;
            vertical-align: middle;
            margin-right: 5px;
            @include border-radius(4px);
            box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.2);
        }
        &.red {
            &:before {
                background-color: $clr-red;
            }
        }
        &:nth-child(1) {
            margin-left: 0;
        }
    }
}