.bs-table-thumb {
    .table-thumb {
        @include border-radius(5px);
        position: relative;
        display: block;
        padding-left: 84px;
        min-height: 120px;
        overflow: hidden;
        box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.12);
        color: $clr-black;
        font-size: 12px;
        margin-bottom: 15px;
        .table-header {
            position: absolute;
            top: 0;
            height: 100%;
            left: 0;
            width: 74px;
            background-color: #fdcccc;
            text-align: center;
            @include border-radius(5px);
            padding-top: 26px;
            .number {
                @include border-radius(50%);
                min-width: 25px;
                height: 25px;
                background-color: $clr-white;
                text-align: center;
                font-size: 14px;
                display: inline-block;
                line-height: 25px;
                font-weight: 600;
                margin-bottom: 6px;
            }
            .table-name {
                font-size: 16px;
            }
        }
        .table-description {
            padding: 10px 0;
            p {
                margin-bottom: 6px;
            }
        }
        &.reserved {
            .table-header {
                background-color: #d9dadb;
            }
        }
        &.cleared {
            .table-header {
                background-color: #e9edcd;
            }
        }
    }
}