.bs-time-list {
    .day {
        font-weight: $font-bold;
        color: #000;
        font-size: 16px;
        float: left;
        margin-top: 9px;
        margin-bottom: 9px;
    }
    .time-list {
        float: left;
        list-style: none;
        margin: 0 -5px;
        padding-left: 20px;
        li {
            float: left;
            padding: 0 5px;
            span {
                color: $clr-red;
                background-color: $clr-red;
                color: $clr-white;
                @include border-radius(4px);
                text-align: center;
                padding: 6px 12px;
                font-size: 14px;
                min-width: 100px;
                text-transform: uppercase;
                line-height: 20px;
                display: inline-block;
            }
        }
    }
    .inline-form-group {
        .time-lable {
            float: left;
            font-weight: bold;
            font-size: 14px;
            padding: 5px 13px 0;
        }
        .form-control {
            float: left;
            width: 42px;
            margin: 0 10px;
            background: transparent;
            padding: 5px 0px;
        }
        .to-lable {
            float: left;
            display: block;
            padding: 13px 13px 0 13px;
            font-weight: bold;
            font-style: italic;
            margin: 0;
        }
    }
    .mod-btn-group {
        text-align: left;
    }
}

@media screen and (max-width:$mobile-breakpoint) {
    .bs-time-list {
        .time-list {
            float: none;
            width: 100%;
            clear: both;
            padding: 0;
            &:after {
                clear: both;
                content: '';
            }
            li {
                span {
                    min-width: inherit;
                    padding: 1px 8px;
                    font-size: 12px;
                    margin-top: 10px;
                }
            }
        }
        .day {
            margin-top: 0;
            font-size: 16px;
            margin-bottom: 0;
        }
        .inline-form-group {
            .to-lable {
                clear: both;
                padding: 13px 13px 0 0;
                min-width: 77px;
            }
            .time-lable {
                padding: 13px 6px 0 0;
            }
        }
    }
}