.mod-select-calender {
    text-align: center;
    margin-bottom: 25px;
    .select-parent {
        display: inline-block;
        .dropdownname {
            padding-right: 34px;
        }
    }
    // .dropdownname {
    //     width: 120px;
    // }
}