.lyt-report {
    padding: 0;
    .actions {
        text-align: center;
        background: #f7f7f7;
        padding: 10px 15px;
        a {
            font-size: 26px;
            padding: 0 5px;
            vertical-align: text-top;
            color: $clr-red;
        }
        .form-group {
            display: inline-block;
            width: 150px;
            text-align: left;
            margin-left: 10px;
        }
    }
    .graph-section {
        padding: 30px 15px;
    }
    .table-parent {
        background: #f7f7f7;
        padding: 30px 15px;
    }
    .graph {
        min-width: 310px;
        height: 210px;
        max-width: 600px;
        margin: 0 auto;
    }
}