.lyt-red-box {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    //@include box-shadow(0px, 0px, 20px, 10px, #fcf6f7);
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    margin-bottom: 48px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.13);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.13);
    padding-bottom: 6px;
    word-wrap: break-word;
    .wizard{
        & > .content{
            background-color:transparent;
            .body{
                width:100%;
                padding:0;
                .form-group{
                    margin-bottom:15px;
                }
                input{
                    border-top:0;
                    border-left:0;
                    border-right:0;
                    border-bottom: solid 1px #b6aefb;
                }
                li{
                    input{border:0;}
                }
                label.error{
                    margin-left:0;
                }
            }      
        }
        & > .steps{
            .number{
                font-size:14px;
                line-height:14px;
            }
            & a{
                border-radius:0;
                padding:2.5px 5px;
            }
        }
         
    }
}

.form-group {
    margin-bottom: 35px;
}

@media screen and (min-width:$ipad-breakpoint) {
    .lyt-red-box {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width:$mobile-breakpoint) {
    .lyt-red-box {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}