.datepicker {
    &.dropdown-menu,
    &.datepicker-inline {
        font-family: $fnt1;
        padding: 15px;
        >div {
            height: 100%;
            .table-condensed {
                width: 287px;
                margin: 0 auto;
                height: 100%;
            }
        }
        // .datepicker-months,
        // .datepicker-years {
        //     height: 100%;
        //     .table-condensed {
        //         width: 100%;
        //         height: 100%;
        //     }
        // }
        table {
            tr {
                th,
                td {
                    //@include border-radius(4px);
                    color: #5d5d5d;
                    &.old {
                        @include opacity(0.5);
                    }
                    &.disabled {
                        @include opacity(0.5);
                    }
                    &.today {
                        background: whitesmoke;
                        @include border-radius(50%);
                        &:hover {
                            background: whitesmoke;
                        }
                    }
                }
                td,
                td span {
                    padding: 10px 13px;
                }
                td span {
                    line-height: 38px;
                    height: 60px;
                    background: #eeeeee;
                    @include border-radius(50%);
                    &:focus {
                        background: $clr-red;
                        color: $clr-white;
                    }
                }
                th.dow {
                    border-bottom: solid 1px #bebebe;
                }
                .day,
                .month {
                    &.active,
                    &:hover,
                    &:focus {
                        @include border-radius(50%);
                    }
                }
            }
            .datepicker-switch {
                color: $clr-red;
                font-size: 20px;
                font-weight: 700;
                padding-bottom: 10px;
                padding-top: 10px;
                &:hover {
                    background-color: transparent;
                }
            }
            .prev,
            .next {
                position: relative;
                color: transparent;
                &:after {
                    content: ' \25C4';
                    font-size: 20px;
                    color: $clr-red;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    top: 10px;
                }
            }
            .next {
                &:after {
                    @include rotate(180deg);
                }
            }
        }
    }
    &.datepicker-inline {
        width: 100%;
        width: 323px;
        height: 335px;
        max-width: 320px;
        margin: 0 auto;
        font-size: 13px;
        table {
            .next {
                &:after {
                    top: 19px;
                }
            }
        }
    }
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled] {
    background: $clr-red;
    color: $clr-white;
}

@media screen and (max-width:$mobile-breakpoint) {
    .datepicker {
        &.datepicker-inline {
            padding: 0;
            padding-top: 20px;
            width: 100%;
            table tr td {
                span {
                    height: 63px;
                    line-height: 44px;
                }
            }
        }
    }
    .datepicker.dropdown-menu table tr td,
    .datepicker.dropdown-menu table tr td span,
    .datepicker.datepicker-inline table tr td,
    .datepicker.datepicker-inline table tr td span {
        padding: 8px 10px;
    }
    .datepicker.dropdown-menu table tr td {
        padding: 5px 3px;
    }
    .datepicker.dropdown-menu,
    .datepicker.datepicker-inline {
        width: 260px;
    }
    .datepicker.dropdown-menu>div .table-condensed {
        width: 100%;
    }
    .datepicker.dropdown-menu table tr td span {
        padding: 5px 10px;
        height: 51px;
    }
}