@import '../custom.scss';
* {
    direction: rtl;
}

//header
.nav {
    padding-right: 0;
}

.bs-header {
    .navbar-header {
        float: right;
    }
    .navbar-nav {
        float: left;
        li {
            float: right;
            &:before {
                left: 0;
                right: inherit;
            }
        }
    }
    .profilePic {
        float: left;
    }
    .navbar-collapse {
        padding-left: 65px;
    }
    .select-lang {
        float: left;
        left: initial;
        margin-left: 15px;
        margin-right: auto;
        .form-control {
            text-align: right;
            padding-right: 0;
        }
    }
    .navbar>.container-fluid .navbar-brand {
        margin-right: 15px;
        margin-left: auto;
    }
}

.nav-tabs {
    li {
        float: right;
    }
}

.hamburger {
    float: right;
    margin-right: 30px;
    margin-left: auto;
}

.sidebar-nav {
    li {
        &:before {
            right: -3px;
        }
        a .icon {
            float: right;
            padding-left: 10px;
            line-height: inherit;
        }
    }
}

#sidebar-wrapper {
    right: 0;
    margin-right: -220px;
}

#wrapper.toggled #sidebar-wrapper {
    right: 220px;
    left: inherit;
}

#wrapper.toggled {
    padding-right: 220px;
    padding-left: 0;
}

#wrapper {
    padding-right: 0;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-left: -220px;
    margin-right: auto;
}

.form-control {
    text-align: right;
}

// mod-enter-guest
.mod-enter-guest {
    .minus {
        right: 0;
        left: inherit;
    }
    .plus {
        left: 0;
        right: inherit;
    }
}

//dropdown icon
.select-parent {
    &:before {
        left: 5px;
        right: inherit;
    }
}

//configuration
.bs-accordion {
    .panel-title {
        >a {
            &:before {
                left: 30px;
            }
        }
    }
}

//checkbox
.bs-ctm-checkbox {
    .time-group label:before {
        margin-left: 10px;
        margin-right: auto;
    }
    .time-group input:checked+label:before {
        margin-left: 10px;
        margin-right: auto;
    }
    .time-group input:checked+label:after {
        right: 9px;
    }
}

//radio button
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-right: -20px;
    margin-left: auto;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    right: -9999px;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    right: 0;
    left: auto;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    right: 5px;
    left: auto;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    padding-right: 28px;
    padding-left: 0;
}

.bs-time-list {
    .day {
        float: right;
    }
    .time-list {
        float: right;
        padding-right: 20px;
        padding-left: 0;
        li {
            float: right;
        }
    }
    .inline-form-group {
        .time-lable {
            float: right;
        }
        .form-control {
            float: right;
        }
        .to-lable {
            float: right;
        }
    }
    .mod-btn-group {
        text-align: right;
    }
}

//calender
.bs-legends {
    .lagend {
        margin-right: 25px;
        &:before {
            margin-left: 5px;
        }
    }
}

.no-days {
    margin-left: 10px;
}

.plus-bx {
    margin-right: 10px;
}

//direction arrow
.cm-heading {
    .go-back {
        right: 0;
        left: initial;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.bs-tag {
    .tag {
        padding: 5px 15px 5px 40px;
        .tag-close {
            left: 11px;
            right: initial;
        }
    }
}

.datepicker.dropdown-menu table .prev:after,
.datepicker.datepicker-inline table .prev:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 19px;
}

.datepicker.dropdown-menu table .next:after,
.datepicker.datepicker-inline table .next:after {
    -webkit-transform: initial;
    transform: initial;
}

.datepicker.datepicker-inline table .next:after {
    top: 10px;
}

//textarea
.select2-container {
    .select2-search--inline {
        float: none;
    }
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    float: right;
}

.mod-select-calender {
    .select-parent {
        .dropdownname {
            padding-right: 0;
            padding-left: 34px;
        }
    }
}

//search table
.bs-table-thumb {
    .table-thumb {
        padding-right: 84px;
        padding-left: 0;
        .table-header {
            right: 0;
        }
    }
}

//piechart
.highcharts-container {
    * {
        direction: ltr;
    }
}

//feedback
.lyt-feedback .cm-rating .icon {
    color: #F9BF00;
    display: inline;
    float: right;
    margin-left: 10px;
}

//report
.mod-table.typ-accordion .dropdown-heading.open:before {
    transform: rotate(90deg);
    margin-top: -6px;
}

.sel-date .datepicker {
    text-align: right;
}

//restaurant profile
.mod-table th.text-left {
    text-align: right;
}

@media (min-width:$ipad-breakpoint) {
    .select-parent {
        margin-top: 0;
    }
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: right;
    }
    .col-md-offset-3 {
        margin-right: 25%;
        margin-left: auto;
    }
    .col-md-offset-2 {
        margin-right: 16.67%;
        margin-left: auto;
    }
}

@media (max-width:$ipad-breakpoint) {
    .bs-header {
        .navbar-header {
            .navbar-brand {
                float: right;
            }
            .navbar-toggle {
                margin-right: 15px;
            }
        }
    }
}

@media screen and (max-width:$mobile-breakpoint) {
    .bs-header {
        .navbar-nav {
            float: none;
            width: 100%;
            margin: 0;
            padding: 0;
            li {
                float: none;
            }
        }
        .navbar-default {
            .profileSec {
                left: 12px;
                right: initial;
            }
            .navbar-collapse {
                padding-left: 0;
                padding-right: 0;
                margin: 0;
                width: 100%;
                float: none;
            }
            .navbar-toggle {
                float: left;
                right: initial;
            }
        }
        .navbar-brand {
            float: right;
            margin-right: 0;
        }
        .time-lable {
            padding: 13px 0 0 6px;
        }
        .select-lang {
            margin-left: 0;
        }
    }
    .bs-time-list {
        .inline-form-group {
            .to-lable {
                float: right;
                left: initial;
                padding: 13px 0 0 13px;
            }
        }
        .time-list {
            padding-left: 20px;
            padding-right: 0;
        }
    }
    .time-bx {
        overflow: visible;
        margin-right: 9%;
        margin-left: auto;
    }
    .hamburger {
        margin-right: 15px;
        margin-left: auto;
    }
    .sel-date .datepicker {
        text-align: right;
    }
    .lyt-report .graph {
        min-width: 100%;
    }
    .form-control {
        text-align: right;
        width: auto;
    }
}