<script type="text/javascript" src="assets/js/vendor.js"></script>
<!-- <script src="https://code.jquery.com/jquery-1.9.1.min.js" integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" crossorigin="anonymous"></script> -->
<script type="text/javascript" src="assets/js/libraries/jquery.steps.min.js"></script>
<script type="text/javascript" src="assets/js/custom.js"></script>